body {
    margin: 0;
    font-family: Arial;
    background-color: grey;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #222;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sections Styling */
section{
    margin: 20px;
    padding: 20px;
    background-color: #636363;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #636363;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hero h1 {
    font-size: 40px;
}

.hero button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card {
    background: #4d4f52;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-radius: 8px;
}

#flex{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

#contact{
    text-align: left;
    height: 200px;
    width: 100%;
}

#contact a {
    text-decoration: none;
    color: black;
}

#feedback{
    text-align: center;
    height: 200px;
    width: 100%;
}

#feedback form{
    text-align: left;
}

#feedback form input, #feedback form textarea{
    width: 60%;
    padding: 5px;
    margin-top: 2px;
    border: 1px solid #2f42474f;
    border-radius: 4px;
    background-color: #2e3033;
}

#feedback form textarea{
    height: 12px;
}

#feedback form button{
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#greeting{
    text-align: center;
    height: 200px;
    width: 100%;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}

/* Responsive */
@media(max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}